$sidebar-width: 250px;
$collapsed-sidebar-width: 60px;
$sidebar-dropdown-margin: 25px;
//================
// Primary colors
//=================
$primary-blue: #28353a;
$primary-color: #fa7252;
$secondary-color: desaturate(darken($primary-color,15%),40%);
$primary-text-color: #717171;
$primary-green: #4CAF50;
$text-color: #9ca6ac;
$table-color: #555;
$text-darker: #43494d;
$link-color: #2e99b3;
$border-color: #89948E;
//================
// Social networks colors
//=================
$gplus-color: #dd4b39;
$fb-color: #3b5998;
$twitter-color: #4099FF;
$page-background: #ebf1f5;
//================
// Colors
//=================

$orange: #fa7252;
$blue: #65a4da;
$green: #79d679;
$yellow: #f7bd6c;
$red: #dc5e5a;
$teal: #3ab39b;
$purple: #976ad6;
$brown: #a27148;
$stone: #336b87;
$mist: #90afc5;
$moss: #aebd38;
$sky: #375e97;
$pink:#f18d93;
$blue-sky: #4cb5f5;
$strawberry:#cb0000;
$blueberry: #4d648d;
$indigo: #3F51B5;
$violet: #a411ff;
$light-orange: #ffe599;
$pure: #ff9900;
$pink: #ff00ff;
$dark-blue: #003762;

